@model IEnumerable<thn.Models.org>
@{
    ViewBag.Title = "Control Panel";
}

<div id="content">
    <h2>@Html.ActionLink("Control Panel","","cpanel") | @Html.ActionLink("Organization Profile","","orgprofile")</h2>
</div>
