@model IEnumerable<thn.Models.user>

@{
    ViewBag.Title = "Dashboard";
}
<div id="content">
    <h2>@Html.ActionLink("My Dashboard","","dashboard") | @Html.ActionLink("My Profile","","profile")</h2>
</div>


