@model IEnumerable<thn.Models.user>

@{
    ViewBag.Title = "Dashboard";
}
<div id="content">
    <div id="nav-panel">
        @Html.ActionLink("My Dashboard","","dashboard")<br />
        @Html.ActionLink("My Profile","","profile")
    </div>
</div>


