body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-image: url(../Images/lightBg.jpg);
    background-repeat: repeat;
    margin: 0;
    padding: 0;
}

header {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 50px;
    background: #083157;
}

logo {
    margin-top: 10px;
    margin-left: 10px;
    width:277px;
    height:50px;
}

#content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
