body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-image: url(../Images/lightBg.jpg);
    background-repeat: repeat;
    margin: 0;
    padding: 0;
}

header {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 60px;
    background: #083157;
}

footer {
    width: 80%;
    padding-top: 70px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    font-size: 1em;
    text-align: center;
}

logo {
    float: left;
    margin-top: 6px;
    margin-left: 10px;
    width:277px;
    height:50px;
}

table {
    width:100%;
}


#content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#content a {
    color: #083157;
}

h2 {
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #083157;
    font-weight: 600;
}

h2 a{
    text-decoration: none;
    color: #083157;
}

h2 a:hover {
    border-bottom: solid 2px #083157;
}


.left-float {
    float: left;
    width: 50%;
}

.right-float {
    float: right;
    width: 40%;
}

/*--CSS button--*/
.greenbutton {
	-moz-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b8e356), color-stop(1, #a5cc52) );
	background:-moz-linear-gradient( center top, #b8e356 5%, #a5cc52 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356', endColorstr='#a5cc52');
	background-color:#b8e356;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #83c41a;
	display:inline-block;
	color:#ffffff;
	font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #86ae47;
}

.greenbutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a5cc52), color-stop(1, #b8e356) );
	background:-moz-linear-gradient( center top, #a5cc52 5%, #b8e356 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5cc52', endColorstr='#b8e356');
	background-color:#a5cc52;
}

.greenbutton:active {
	position:relative;
	top:1px;
}

/*--HTML Form Styles--*/
.editor-label {
    font-weight:bold;
}

/*--Nav Bar--*/
#nav {
    float:right;
    margin-top:10px;
    margin-right:10px;
    font-size: 1.5em;
}

#nav ul
{
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
}

#nav li
{
float:left;
}

#nav a:link,a:visited
{
display:block;
width:80px;
margin-right:20px;
color:#FFFFFF;
text-align:center;
padding:4px;
text-decoration:none;
}

#nav a:hover,a:active
{
    border-bottom: solid 2px #FFFFFF;
}

/*--Validation errors--*/
.validation-summary-errors {
    margin:0;
    margin-bottom: 20px;
    width:100%;
    border: solid 1px #f00;
    background-color: #ff6a00;
    text-align: center;
    padding-top:5px;
    padding-bottom: 5px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    font-weight: bold;
    color: #FFFFFF;

}

.validation-summary-errors ul {
        list-style-type: none;
}

.field-validation-error {
    color: red;
}

/*--Form elements--*/
label {
    font-weight: normal;
}
